/* * {
    margin: 0;
    padding: 0;
} */
div {
    height: 30px;
    background: rgb(150, 169, 180);
    margin-bottom: 8px;
    display: none;

    padding: 12px;
}
ul li {
    list-style-type: square;
    padding: 12px;
    background: rgb(150, 169, 180);
 }